body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.big {
  display: flex;
  flex-direction: column;
  width: 310px;
  /* border-right: 3px solid#E5E5E5; */
  justify-content: center;
  /* border: 1px solid #000; */
  align-items: center;
  padding: 20px;
  height: fit-content !important;
}

.buger {
  display: flex;
  width: 100%;
  /* column-gap: 20px; */

  justify-content: space-between;
}

.log {
  display: flex;
  width: 140px;
}

.log > img {
  width: 100%;
}

.ham {
  width: 36px;
}

.ham > img {
  width: 100%;
}

.boxhold {
  display: flex;
  margin-top: 10px;
  height: 54px;
  width: 200px;
}

.boxhold:hover {
  background-color: #d3e3fb;

  cursor: pointer;

  border-radius: 20px;
  color: #0065ff;
}

.boxes {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  column-gap: 10px;
  padding-left: 15px;
}

.boxes > img {
  width: 24px;
  height: 24px;
}

.boxes > p {
  font-size: 18px;
  color: #636060;
}

.paid {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 50px;
}

.peer {
  background-image: url("../public/peer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 222px;
  height: 169px;
}

.are {
  display: flex;
  /* justify-content: center; */
  margin-left: 20px;
  color: #fff;
  height: 100%;
  align-items: center;
}

.peerimage {
  width: max-content;
  height: fit-content;
}

.template {
  display: flex;
}

main {
  display: flex;
  /* height: 100vh; */
  overflow-x: hidden;
  width: 100%;
  /* justify-content: center; */
}

.white {
  display: flex;
  /* height: 100vh; */
  /* width: fit-content; */
  justify-content: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.bar {
  display: flex;
  background-color: #fff;
  /* flex-direction: column; */
  height: 100px;
  border-left: 5px solid #e5e5e5;
  /* width: 1600px; */
}

.notify {
  display: flex;
}

/* .notification {
  display: flex;

  align-items: center;
  width: 100%;

  right: 4px;
  background-color: red;
  height: 100px;
} */

.ringer {
  width: 24px;
  height: 24px;
}

.ringer > img {
  width: 100%;
  height: 100%;
}

.scope {
  display: flex;
}

.scope-order {
  display: flex;
  margin: 20px 43px;
  /* column-gap: 50px; */
  width: 100%;
  justify-content: space-between;
}
.border {
  display: flex;
  align-items: center;
  border: 1px solid #0065ff;
  border-radius: 10px;
  width: 409px;
  height: 50px;
  justify-content: space-between;
}

.tit {
  margin-left: 20px;
}

.tit > input::placeholder {
  color: #cbc9c9;
}

.tit > input {
  border: none;
  outline: none;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: #000;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.icon > img {
  width: 100%;
  height: 100%;
}

.orderhold {
  display: flex;
  align-items: center;
}

.listedFour {
  display: flex;
  /* align-items: center; */
}

.listedFour > ul {
  display: flex;
  column-gap: 35px;
  color: #636060;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
}

.listedFour > ul li:hover {
  color: #0065ff;
  cursor: pointer;
}

.overview {
  background-color: #e5e5e5;
  display: flex;
  /* width: 1000px; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 150vh; */
  margin-top: 100px;
  padding-bottom: 30px;
  padding: 5vw;
}
img {
  width: 100%;
  height: 100%;
}

.blue-image {
  /* background-image: url("../public/Rectangle.svg");

  background-size: cover;
  background-repeat: no-repeat; */
  /* background-position: center; */
  background-color: #007bff;
  object-fit: contain;
  border-radius: 20px;
  z-index: 5;
  /* width: 800px; */
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 70px; */
  /* padding: 200px; */
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
}

.view {
  color: #636060;
  font-size: 24px;
  padding-bottom: 15px;
}

.holder {
  background-color: red;
  width: 100%;
}

.fiat {
  /* height: 300px; */
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fiat > h2 {
  font-size: 48px;
  color: #fff;
}

.fiat > p {
  font-size: 24px;
  color: #fff;
}

.sell {
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  color: #0065ff;
  font-size: 20px;
  font-weight: 400;
}

.buy {
  margin-top: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

.mine {
  display: flex;
}
.three {
  display: flex;
  column-gap: 20px;
}

.find {
  /* margin-bottom: 50px; */
  display: flex;
}

.total {
  background-color: #fff;
  border-radius: 15px;
  /* width: 400px; */
}

.twoparts {
  display: flex;
  column-gap: 30px;
  margin-top: 20px;
}

.validate {
  padding: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.cryptocurrencies {
  display: flex;
  justify-content: center;
}

.naira {
  display: flex;
  margin-top: 20px;
}

.naira > h4 {
  color: #0065ff;
  line-height: 31px;
  padding-top: 10px;
  font-size: 24px;
}

.naira > p {
  font-size: 36px;
  font-weight: 600;
  color: #7c7474;
  line-height: 46px;
}

.dodge {
  background-color: #fff;
  /* width: 830px; */
  padding: 20px 0;
  /* height: ; */
  margin-top: 10px;
}

.svg {
  width: 30px;
}

.percent {
  display: flex;
  column-gap: 120px;
  margin: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  /* width: 100%; */
}

/* .percent > div {
} */

.dobs {
  display: flex;
  /* flex-direction: column; */
  column-gap: 20px;
  justify-content: flex-start;
}

.tbt > p {
  font-weight: 600;
  color: #fc7e00;
  font-size: 24px;
}

.ngn > p {
  color: #cbc9c9;
  font-size: 24px;
  font-weight: 600;
}

.polygon {
  display: flex;
}

.polygon > div {
  width: 12px;
  height: 12px;
}

.polygon > p {
  font-size: 14px;
  color: #00ff66;
}

.token {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.token > button > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.token > button {
  width: 198px;
  height: 60px;
  background-color: #0065ff;
  border-radius: 10px;
  border: 1px solid #0065ff;
}

.deposit-type {
  width: 36px;
}

.history {
  margin-top: 100px;
  margin: 200px 30px 0px;
}

.arrows {
  display: flex;
  margin-top: 20px;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.change {
  display: flex;
  margin-top: 20px;
  /* column-gap: 10px; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.deci {
  color: #00ff66;
  font-size: 14px;
}

.fourth {
  color: #cbc9c9;
  font-size: 14px;
}

.update {
  margin-top: 30px;
}

.secs {
  border: 3px solid #cbc9c9;
  margin-top: 30px;
}

.help {
  border: 3px solid #cbc9c9;
  margin-top: 100px;
  /* width: 400px; */
}

.few {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arr > img {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.down > img {
  width: 14px;
  height: 7px;
  margin-top: 5px;
}

.eight {
  font-size: 24px;
  color: #7c7474;
}

.hiss {
  color: #393869;
  font-size: 18px;
}

.placetwo {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passive {
  font-size: 24px;
  color: #0065ff;
  font-weight: 600;
}

.refer {
  margin-top: 20px;
  font-size: 18px;
  color: #b1aeae;
}
