main {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

div {
  height: 400px;
}
div:first-child {
  background-color: pink;
}
div:nth-child(2) {
  background-color: red;
}
div:last-child {
  background-color: #007bff;
}

/* tablests */
@media screen and (max-width: 760px) {
  main {
    background-color: purple;
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  main {
    background-color: green;
  }
}
