*{
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.line-through{
text-decoration: line-through;
}

.ordered{
  width:100%;
  margin-bottom: 40px;
}

ul > li,
ul > li > div {
  display: flex;
  align-items: center;
}

/* ul > li {
  justify-content: space-between;
} */

ul > li > div {
  column-gap: 15px;
}

body {
  background-color: rgb(48, 48, 240);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

main > div > h1 {
  display: flex;
  justify-content: center;
  margin:30px
}

main > div > div {
  display: flex;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: row;
  margin: 30px;
  column-gap: 20px;
}

.text input {
  outline: none;
  border: 2px solid #007bff;
  border-radius: 4px;
  padding: 8px 14px;
}

.text button {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: #fff;
  width: 50px;
  border-radius: 4px;
}

.remove  {
  padding: 10px;
  background-color: #007bff;
  border-radius: 3px;
  color: #fff;
}

.pen{
  font-size: 20px !important;
  color: black;
  cursor: pointer;
  /* background-color: pink; */
}

li {
align-items: center;
  background-color: lightblue;
  margin: 10px;
 display: flex;
 border-radius: 5px;
 border:2px solid rgba(148, 145, 145, 0.5);
 flex-direction: row;
 justify-content: space-around;
  padding: 10px 0px;
  width: 90%;
}

li > div:nth-child(2) > p{
  /* display: flex; */
  margin-right: 20px;
  /* flex-direction: row; */
 /* justify-content: flex-start; */
}

li > div:first-child > input{
  margin-right: 20px;
}